body {
    background-image: url('https://www.google.com/url?sa=i&url=http%3A%2F%2Fsoparameninas.net%2F2018%2F07%2Fcamisetas-estilosas.html&psig=AOvVaw3PTglpxT_NMstTUerLPLIk&ust=1695076229991000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCIiTv5bZsoEDFQAAAAAdAAAAABAK'); /* Caminho para a imagem de fundo */
    background-size: 80%; /* Ajusta o tamanho da imagem para cobrir toda a área do body */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    font-family: Arial, sans-serif; /* Define uma fonte de fallback */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimentos padrão */
}

/* Estilo adicional para o conteúdo do formulário */
h1, form, div {
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco semitransparente */
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
body {
    text-align: center; /* Centraliza o conteúdo horizontalmente */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Isso faz com que o conteúdo ocupe toda a altura da janela */
}

h1 {
    margin-bottom: 20px; /* Espaçamento inferior para o cabeçalho */
}

#cadastroCliente {
    text-align: left; /* Retorna o alinhamento padrão do formulário */
}

/* Estilos para o botão "Usuário" */
#usuarioButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #4285f4;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

#usuarioButton:hover {
    background-color: #357ae8;
}