body {
    background-image: url('https://www.google.com/url?sa=i&url=http%3A%2F%2Fsoparameninas.net%2F2018%2F07%2Fcamisetas-estilosas.html&psig=AOvVaw3PTglpxT_NMstTUerLPLIk&ust=1695076229991000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCIiTv5bZsoEDFQAAAAAdAAAAABAK'); /* Caminho para a imagem de fundo */
    background-size: 80%; /* Ajusta o tamanho da imagem para cobrir toda a área do body */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    font-family: Arial, sans-serif; /* Define uma fonte de fallback */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimentos padrão */
}

/* Estilo adicional para o conteúdo do formulário */
h1, form, div {
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco semitransparente */
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
.gb_B {
    position: absolute;
    top: 10px; /* Ajusta a distância do topo */
    right: 10px; /* Ajusta a distância da direita */
    background-color: #4285f4; /* Cor de fundo do link */
    color: white; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno (vertical, horizontal) */
    border-radius: 5px; /* Borda arredondada */
    text-decoration: none; /* Remove sublinhado */
    font-weight: bold; /* Texto em negrito */
}

/* Estilo para o link quando passa o mouse por cima */
.gb_B:hover {
    background-color: #357ae8; /* Altera a cor de fundo ao passar o mouse */
}